@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
  }
  .line-padding {
    width: 100%;
    padding: 20px;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    height: 100vh;
  }
  .calendar {
    width: 100%;
  }
  .calendar .calendar-date td.today {
    background-color: transparent !important;
    color: #000 !important;
    font-weight: normal !important;
  }
  .calendar .calendar-date td.active {
    background-color: #20c997 !important;
    color: white !important;
    font-weight: bold !important;
  }

  .calendar .calendar-date td.active.passed {
    background-color: #fd7e14 !important;
  }
}

.calendar {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  background-color: #e9ecef;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
  font-family: "Inter", sans-serif;
}

.calendar .calendar-month td {
  text-align: center;
  padding: 0.7em;
  font-size: 1em;
}

.calendar .calendar-day th {
  width: 3em;
  text-align: center;
  font-size: 0.9em;
}

.calendar .calendar-date td {
  text-align: center;
  padding: 0.75em 0;
  border-radius: 100%;
  font-size: 0.9em;
}

.calendar .calendar-date td.today {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
}

.calendar .calendar-date td.active {
  background-color: #20c997;
  color: white;
  font-weight: bold;
}

.calendar .calendar-date td.active.passed {
  background-color: #fd7e14;
}

.calendar .calendar-date td:hover {
  background-color: #ced4da;
}

.calendar .calendar-date td.active:hover {
  background-color: #1aa179;
  cursor: progress;
}

.calendar .calendar-date td.inactive:hover {
  background-color: transparent;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
