<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamatan | {block title}{/block}</title>

    {include file 'style.latte'}
</head>
<body>
    <div class="container">
        {block content}{/block}
    </div>

    {include file 'script.latte'}

    {block script}{/block}
</body>
</html>
